@model Tid__og_sagsregistreringssystem.Controllers.TimeStampViewModel

@{ 
}

<h1>Task Manager</h1>

<!-- Dropdown Afdelinger -->
<div class="department-group">
    <label>Vælg afdeling:</label>
    @using (Html.BeginForm("Index", "TaskManager", FormMethod.Post))
    {
        @Html.DropDownListFor(
         model => model.SelectedDepartmentID,
         Model.Departments,
         "Vælg en afdeling",
         new { @id = "department-dropdown", @class = "department-dropdown" }
         )
    }
</div>

<!-- Form Tidsregistrerings -->
<h1>Tidsregistring</h1>
@using (Html.BeginForm("CreateTimeStamp", "TaskManager", FormMethod.Post, new { id = "create-form" }))
{

    <div class="create-group">
        <label for="StartTime" id="StartTime">Start tidspunkt:</label>
        <input type="datetime-local" id="StartTime" name="StartTime" required />
    </div>

    <div class="create-group">
        <label for="EndTime" id="EndTime">Slut tidspunkt:</label>
        <input type="datetime-local" id="EndTime" name="EndTime" required />
    </div>

    <div>
        <label>Vælg en opgave:</label>
        @Html.DropDownListFor(m => m.SelectedTaskID, Model.Tasks, "Vælg en sag", new { @required = "required" })<br /> <br />
    </div>

    <div>
        <label>Vælg en medarbejder</label>
        @Html.DropDownListFor(m => m.SelectedEmployeesID, Model.Employees, "Vælg en medarbejder", new { @required = "required" }) <br /><br />
    </div>

    <div class="create-group">
        <button type="submit">Opret ny tidsregistring</button>
    </div>
}

<script>
    document.querySelector("form").addEventListener("submit", function (e) {
        const start = new Date(document.getElementById("StartTime").value);
        const end = new Date(document.getElementById("EndTime").value);

        if (start >= end) {
            e.preventDefault();
            alert("Slut tidspunkt skal være efter start tidspunkt");
        }
    });
</script>